.html {
    width: 210mm;
    height: 297mm;
    float:left; 
    display:inline; 
}

.output {
    width: 210mm;
    height: 297mm;
    background-color: white;
    float:left; 
    display:inline; 
}

.main_content {
    width: 450mm;
}
